.articleMercato {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 76vh;
    background: rgb(63,147,223);
    background: linear-gradient(0deg, rgba(63,147,223,1) 0%, rgba(1,0,71,1) 100%);
    color: gold;
    gap: 30px;
}